.story{
    &__picture{
        background-color: peachpuff;
        grid-column: full-start/col-end 4;
    }
    &__content{
        background-color: peru;
        grid-column: col-start 5 /full-end;
    }
}